@import 'avaliable.scss';
.item-bar {
    border-bottom: 30px solid $color-background;
    border-right: 40px solid transparent;
    height: 0;
    width: 30%;
}

.pro-best,
.sv-best {
    //   padding: 2%;
    hr {
        border-top: 2px solid $color-background;
        width: 100%;
        margin-top: 1px;
    }
    h4 {
        padding-left: 5%;
        color: white;
    }
    .img-sumary {
        width: 45%;
        height: auto;
        box-shadow: 3px 4px $border-shadow;
        float: left;
        margin-right: 3%;
        object-fit: cover;
    }
    .content p {
        font-size: 1rem;
    }
    .row-cols-2 {
        margin-bottom: 2%;
        .col {
            margin-bottom: 3%;
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .item-bar {
        border-bottom: 30px solid $color-background;
        border-right: 40px solid transparent;
        height: 0;
        width: 45%;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}